page-home {
}

#pic
{
	float:left;
}

#text
{
	float:right;
}

#quan
{
	width:50%;
	padding: 8px 5px;
	text-align:center;
}


#cartButton
{
	padding: 10px 35px;
	background-color: #C0C0C0;
	border-radius: 8px;
}


